{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#    <h1>Login</h1>#}
{#    <form action="{% url 'account:login' %}" method="post">#}
{#        {% csrf_token %}#}
{#        <label for="username">Username:</label>#}
{#        <input type="text" id="username" name="username">#}
{#        <label for="password">Password:</label>#}
{#        <input type="password" id="password" name="password">#}
{#        <input type="submit" value="Login">#}
{#    </form>#}
{##}
{#{% endblock %}#}

{% extends 'base.html' %}

{% block content %}
    <style>

        .signup-link {
			color: #333;
			font-size: 0.8rem;
			text-align: center;
			margin-top: 2rem;
		}

		.signup-link a {
			color: #fc605b;
			text-decoration: none;
			font-weight: bold;
			transition: color 0.2s ease-in-out;
		}

		.signup-link a:hover {
			color: #ff8b84;
		}


    </style>

    <h1>Login</h1>
    <form action="{% url 'account:login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
    </form>
    <p class="signup-link">Don't have an account? <a href="{% url "account:register" %}">Sign up</a></p>
{% endblock %}
