{% extends 'base.html' %}

{% block title %}
    HomePage
{% endblock %}
{% block content %}
    <div class="card text-bg-dark">
      <img src="/../media/houses.png" class="card-img" alt="...">
      <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center;">
        <h1 style="font-size: 7rem; color: black;" class="card-title">REAL ESTATE</h1>
      </div>
    </div>

{#    <div class="header-section" style="background-image: url('/static/image/img.png');">#}
{#        <div class="container">#}
{#            <h1 class="text-white font-weight-bold">REAL ESTATE#}
{#            </h1>#}
{#        </div>#}
{#    </div>#}

    <div class="container mt-5">
        {% for house in houses %}
            <div class="col">
                <div class="card">
                    <img src="{{ house.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ house.country.name }}</h5>
                        <p class="card-text author-decor">{{ house.price }}$</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'house_detail' house.id %}" class="btn btn-sm btn-outline-secondary">
                                    More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">{{ house.builded_year }}</small>
                    </div>
                </div>
            </div><br>
        {% endfor %}
    </div>
{% endblock %}
